
.range(ng-show="products.maxPrice")
  .range__min {{products.slider.min | currency: 'kr. '}}
  input.range__input(
    type="range"
    min="{{products.slider.min}}"
    max="{{products.slider.max}}"
    ng-model="products.maxPrice")
  .range__max {{products.slider.max | currency: 'kr. '}}

  .range__current Max pris: {{products.maxPrice | currency: 'kr. '}}

div(data-flex)
  div(
    data-flex-item
    ng-repeat="product in products.data | filter: $stateParams | filter: products.filterByMaxPrice | limitTo: 10")

    .tile
      .tile__image
        img(ng-src="{{product.img}}")
      h2.delta.flush {{product.name}}
      p.flush.small {{product.brand}}
      p.flush.price {{product.price | currency: 'kr. '}}
