  
input(
  type="range"
  min="{{products.slider.min}}"
  max="{{products.slider.max}}"
  value="products.maxPrice"
  ng-model="products.maxPrice")

p {{products.maxPrice}}

div(data-flex)
  div(
    data-flex-item
    ng-repeat="product in products.data | filter: $stateParams | filter: products.filterByMaxPrice | limitTo: 10")

    .tile
      .tile__image
        img(ng-src="{{product.img}}")
      h2.delta.flush {{product.name}}
      p.flush.small {{product.brand}}
      p.flush.price {{product.price | currency: 'kr. '}}
